

ion-content {
  --background: black; 
}

ion-card {
  background-color: #333; 
  color: white; 
  margin-bottom: 15px; 
}

ion-card-header,
ion-card-title,
ion-card-subtitle {
  color: white; 
}

ion-card-content {
  color: white; 
}

a {
  color: #3498db; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

ion-app {
  --background: black; 
}
