
ion-header {
  ion-toolbar {
    --background:#212121;
    ion-title {
      font-size: 24px;
      color: #FFFFFF;
    }
  }
}

ion-content {
  --background: black;
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to full viewport height */
  }

  form {
    border: 1px solid #ccc; /* Adding border to the form */
    border-radius: 8px; /* Adding border-radius for rounded corners */
    padding: 20px; /* Adding padding to the form */
    max-width: 300px; /* Setting maximum width for the form */

    ion-item {
      ion-label {
        font-size: 18px;
      }
      ion-input {
        font-size: 16px;
      }
    }

    ion-button {
      margin-top: 20px;
    }
  }
}
