// body {
//   --ion-background-color: #141010;
//   height: 100vh;
//   margin: 0; 
//   overflow: hidden; 
// }


ion-header {
  ion-toolbar {
    ion-buttons {
      ion-button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
      }
      ion-toggle {
        margin-right: 10px; /* Add margin to separate the toggle and button */
      }
    }
  }
}
  
  
  .logo {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    z-index: 1;
  }

